body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 70px;
  background-color: #f7f7f7;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
}

.input-container {
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
  width: 400px;
  font-size: 16px;
  outline: none;
}

.input-container:focus {
  border-color: #1d3e59;
  box-shadow: 0 0 4px #0a2a44;
}

.input-container::placeholder {
  color: #999;
}

.input-container::-webkit-input-placeholder {
  color: #999;
}

.input-container::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.input-container:-ms-input-placeholder {
  color: #999;
}

.input-container::placeholder {
  color: #999;
}


.button-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.result-container {
  /* margin-bottom: 20px; */
  margin-top: 100;
  align-items: center;
  justify-content: center;
}

#string-input {
  width: 300px;
  padding: 5px;
}

.button-container button {
  padding: 10px 20px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgb(0, 128, 255);
  border-radius: 10%;
  font-weight: bold;
  font-size: 16px;
}

.button-container button:hover {
  background-color: #0a2a44;
  color: white
}

#result-label {
  font-size: 16px;
  color: #666;
}

.clear-button {
  background-color: #97221a;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  margin-left: -35px;
}

.clear-button:hover {
  background-color: #390a0a;
  color: white;
}

.clear-button::before {
  content: "x";
}

#text-cpy-button {
  width: 70px;
  height: 30px;
  margin-right: -160px;
  background-color: rgb(53, 178, 82);
  border-radius: 10%;
  font-weight: bold;
  font-size: 16px;
  z-index: 1;
}

#text-cpy-button:hover {
  background-color: rgb(4, 75, 4);
  color: white;
}

.cpy-button {
}

.result-box {
  display: none;
}

#result-box {
  width: 400px;
  height: 200px;
  /* border: 2px solid rgb(52, 52, 52); */
  background-color: #d9dddf;
  align-items: center;
  margin: 0 auto; /* Add this line */
  border-radius: 5px 5px 10px 10px;
  /* box-shadow: 0 0 4px #23282d; */
}

.header-result-box {
  width: 100%;
  height: 30px;
  background-color: rgb(95, 94, 94);
  display: flex; /* Add this line */
  justify-content: center;
  align-items: center; /* Add this line */
  border-radius: 5px 5px 0 0 ;
  /* border-bottom: 2px solid gray; */
}

.align-center{
  margin-right: 100px;
}